body {
    margin: 0;
    font-family: 'Karla', sans-serif;
}

#main-container {
    width: 550px;
    height: 550px;
    margin: 10px auto ;
    background: #1F2937;
    padding: 10%;
}

h1 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

span {
    font-size: 40px;
    display: block;
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
    

}
form {
    color: aliceblue;
    /* height: 100px; */
    display: flex;
    /* border: 2px solid white; */
    font-weight: 200;
    padding-top: 20px;
}

.label-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nb-length {
    background-color: #273549;
    border: none;
    border-radius: 5px;
    width: 80px;
    color: #FFFFFF;

}

.check-box {
    background: #273549;
    border: none;
    width: 20px;
    height: 20px;
}

#gen-btn{
    font-family: 'Inter', sans-serif;
    font-weight: lighter ;
    width: 195px;
    height: 45px;
    border: none;
    background: #4ADF86;
    border-radius: 5px;
    color: #273549;
    margin-top: 60px;
    margin-bottom: 40px;
}

hr {
    border: 1px solid #2F3E53;
    margin-bottom: 40px;
}

#pwd-container {
    display: flex;
    justify-content: space-between;
    
}

h4 {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    background: #273549;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    
    line-height: 40px;
}

.empty {
    color: #D1D5DB;
    font-style: italic;
}
.notempty {
    color: #55F991;
    
}

.footer-text {
    font-size: small;
    color: #1F2937;
    text-align: center;
}